= form_for [@category, @product] do |f|
  = f.label :title, "Enter the title"
  .input= f.text_field :title
  = f.label :description, "Enter a description"
  .input= f.text_field :description
  #button= f.submit
