.container
  .home
    .producttitle
      %h1= @category.name
      %h4= link_to "Add a product", new_category_product_path(@category)
    - @products.each do |product|
      .list
        %h2= link_to product.title, category_product_path(@category, product)
        %p
          Description: #{product.description}
        %p
          Creation date: #{product.created_at}
        = link_to "Remove product", category_product_path(@category, product), method: :delete
        = link_to "Update product", edit_category_product_path(@category, product)
